<%- include("../partials/header")  %> 
<table class="table">
    <thead>
      <tr>
        <th>Category</th>
        <th>Due Date</th>
      </tr>
    </thead>
    <tbody>
        <% categories.forEach(function(category) { %>
            <tr>
              <td><%= category.title %></td>
              <td><%= category.dueDate %></td>
              <td><a href="/categories/<%= category._id %>">DETAILS</a></td>
            </tr>
          <% }) %>
    </tbody>
  </table>
<%- include("../partials/footer")  %> 