<%- include("../partials/header")  %> 
<h1>To-Do's List</h1>
<form action="/categories/<%= category._id %>/lists" method="POST" autocomplete="off">
    <label>
        <input type="text" name="listItem">
    </label>
    <input type="submit" value="Add To-Do Item">
</form>

<% if (category.lists.length) { %>
    <table>
      <tbody>
        <ul>
        <% category.lists.forEach(function(d) { %>
            <li><%= d.listItem %></li>
            <form action="/categories/<%=d._id%>?_method=DELETE" method="POST">
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        <% }); %>
        </ul>
      </tbody>
    </table>
  <% } else { %>
    <h5>No To-Do's created yet!</h5>
  <% } %>

  <a href="/categories/<%= category._id %>/edit">Edit Category</a>
<%- include("../partials/footer")  %> 